{% extends "photonic/view.html" %}

{% block content %}
    <form id="form" data-no-submit autocomplete="off" method='post' enctype="multipart/form-data">
        {{ form }}
    </form>
{% endblock %}

{% block buttons %}
    <a href="{{ APP }}/services/subscriber/{{id}}" class="btn btn-default">Cancel</a>
    <a data-confirm="Remove subscriber {{username}}?" data-table data-close-windows="2" href="{{ APP }}/services/subscriber/delete/{{id}}" class="btn btn-danger">Remove</a>
    <a href="{{ APP }}/services/subscriber/edit/{{id}}" data-form="form" data-table class="btn btn-primary">Save</a>
{% endblock %}
