<div data-tabs>
    <ul>
        <li><a data-no-ajax href="#conf">Configuration</a></li>
        <li><a data-no-ajax href="#daily">Daily Usage</a></li>
        <li><a data-no-ajax href="#monthly">Monthly Usage</a></li>
    </ul>
    <div id="conf">
        <form id="form" data-no-submit autocomplete="off" method='post' enctype="multipart/form-data">
            {{ form }}
        </form>
    </div>
    <div id="daily">
        <table data-xtime='day' data-ysuffix=' GiB' data-stack data-graph="bar" data-endpoint="subscriber" data-url="/v1/accounting/data/daily/{{id}}" data-label="today" data-width="500px">
            <thead>
                <tr>
                    <th data-border-width="1" data-background-color="red" data-border-color="red" id='acctinputoctets'>Upload</th>
                    <th data-background-color="green" data-border-color="green" id='acctoutputoctets'>Download</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="monthly">
        <table data-xtime='month' data-ysuffix=' GiB' data-stack data-graph="bar" data-endpoint="subscriber" data-url="/v1/accounting/data/monthly/{{id}}" data-label="today" data-width=500px;>
            <thead>
                <tr>
                    <th data-border-width="1" data-background-color="red" data-border-color="red" id='acctinputoctets'>Upload</th>
                    <th data-background-color="green" data-border-color="green" id='acctoutputoctets'>Download</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
