<div data-jqtabs>
    <ul>
        <li><a data-no-ajax href="#conf">Configuration</a></li>
        <li><a data-no-ajax href="#data">Usage</a></li>
        <li><a data-no-ajax href="#daily">Daily</a></li>
        <li><a data-no-ajax href="#monthly">Monthly</a></li>
    </ul>
    <div id="conf">
        <form id="form" data-no-submit autocomplete="off" method='post' enctype="multipart/form-data">
            {{ form }}
        </form>
    </div>
    <div id="data">
        <table data-title="Data Usage in GiB" data-label="type" data-graph="doughnut" data-endpoint="subscriber" data-url="/v1/accounting/data/usage/{{id}}" data-width="100%">
            <thead>
                <tr>
                    <th data-border-width="1" data-background-color="#90EE90" data-border-color="#90EE90" id='gb'>Data %</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="daily">
        <table data-title="Daily Usage" data-xtime='day' data-offset data-ysuffix=' GiB' data-stack data-graph="bar" data-endpoint="subscriber" data-url="/v1/accounting/data/daily/{{id}}" data-label="today" data-width="100%">
            <thead>
                <tr>
                    <th data-border-width="1" data-background-color="#90EE90" data-border-color="#90EE90" id='acctinputoctets'>Upload</th>
                    <th data-background-color="#228B22" data-border-color="#228B22" id='acctoutputoctets'>Download</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="monthly">
        <table data-title="Monthly Usage" data-xtime='month' data-offset data-ysuffix=' GiB' data-stack data-graph="bar" data-endpoint="subscriber" data-url="/v1/accounting/data/monthly/{{id}}" data-label="today" data-width="100%">
            <thead>
                <tr>
                    <th data-border-width="1" data-background-color="#90EE90" data-border-color="#90EE90" id='acctinputoctets'>Upload</th>
                    <th data-background-color="#228B22" data-border-color="#228B22" id='acctoutputoctets'>Download</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
